In [ ]:
import polars as pl
from pathlib import Path
import matplotlib.pyplot as plt

In [ ]:
data_path = Path("/home/ruchirich/Documents/repositories/FlightRank-2025/data")
train_file = data_path / "train.parquet"

In [ ]:
df_train = pl.scan_parquet(train_file)

In [ ]:
# with open("../output/columns_list.txt", "w") as f:
#     f.writelines(col+"\n" for col in df_train.columns)

In [ ]:
# nationality distribution
q1 = (
    df_train
    .group_by("nationality")
    .agg(pl.mean("totalPrice").name.suffix("_sum"))
    .collect(engine="streaming")
)

In [ ]:
q1.plot.bar(x="nationality",y="totalPrice_sum").properties(width=800,height=600)

In [ ]:
# selected tickets price vs unselected
q2 = (
    df_train
    .group_by("selected")
    .agg(pl.mean("totalPrice").name.suffix("_sum"))
    .collect(engine="streaming")
)

q2

In [ ]:
q2.plot.bar(x="selected", y="totalPrice_sum")

In [ ]:
# row count
df_train.select(pl.len()).collect(engine="streaming")

In [ ]:
# column count
len(df_train.collect_schema())

In [ ]:
# how many customers selected a flight vs total number of unique customers

q3 = (
    df_train
    .group_by("profileId")
    .agg(pl.sum("selected"))
    .collect(engine="streaming")
)

In [ ]:
q3

In [ ]:
# every user has selected at least 1 flight

q3.min()

In [ ]:
q3.sample(n=1000, seed=42).plot.bar(x="profileId", y="selected").properties(width=800, height=600)

In [ ]:
# how many customers selected a flight vs total number of unique customers
# every user has selected at least 1 flight

q4 = (
    df_train
    .group_by("companyID")
    .agg(pl.sum("selected"))
    .collect(engine="streaming")
)

In [ ]:
q4

In [ ]:
# every company has selected at least 1 flight
q4.min()

In [ ]:
q4.plot.bar(x="companyID", y="selected").properties(width=800, height=600)

# Sample data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_parquet(path="../data/train_split.parquet")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11974 entries, 0 to 14999
Columns: 126 entries, Id to selected
dtypes: Int64(2), bool(4), datetime64[ns](1), float64(41), int64(5), object(73)
memory usage: 11.3+ MB

In [10]:
pd.set_option("display.max_rows",0)
pd.set_option("display.max_columns",0)

In [11]:
df.head()

   Id  bySelf  companyID  ...   taxes totalPrice  selected
0   0    True      57323  ...   370.0    16884.0         1
1   1    True      57323  ...  2240.0    51125.0         0
3   3    True      57323  ...  2240.0    81880.0         0
6   6    True      57323  ...  2240.0    53695.0         0
7   7    True      57323  ...  2240.0    81880.0         0

[5 rows x 126 columns]